.search__autocomplete {
    max-height: 208px;
    border: 1px solid #cccdc8;
    border-radius: 0 0 2px 2px;
    margin-top: -2px;
    margin-left: -1px;
    margin-right: -1px;
    z-index: 25;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.acp-wrap {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    padding: 0;
    max-height: 208px;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.95);
    overflow: auto;
    overflow-x: hidden;
    position: static;
}

.acp-wrap__column {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding: 4px;
}

.acp-wrap__column.acp-wrap__column--left {
    border-right: 1px solid #e0e0e0;
}

.acp--bang {
    border-radius: 2px;
    padding: 8px 16px;
    position: relative;
    z-index: 1;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    cursor: pointer;
    line-height: 1.1;
    font-size: 1.1em;
    margin: 0 auto;
    color: #a5a5a5;
}

.acp--bang__img-wrap {
    margin-right: 4px;
    background-color: #fff;
    float: left;
    width: 16px;
    height: 16px;
}

.acp--bang__img-wrap,
.acp--bang__img {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.acp--bang__img {
    width: 100%;
}

.acp--bang__body {
    position: relative;
    padding-left: 12px;
    overflow: hidden;
}

.acp--bang__phrase {
    color: #4c4c4c;
    font-weight: bold;
    position: absolute;
    right: 0;
}

.acp--bang__phrase,
.acp--bang__snippet {
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.acp--bang__snippet {
    color: #959595;
    display: inline-block;
    width: 75%;
}

.acp-footer {
    position: absolute;
    width: 100%;
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #cccdc8;
    background-color: #fff;
    margin-left: -1px;
    padding: 4px 0;
}

.acp-footer .acp-footer__instructions {
    margin-left: 16px;
    color: #959595;
}

.acp-footer .acp-footer__link {
    position: absolute;
    right: 0;
    margin-right: 16px;
    top: 7px;
}

.no-visited {
    color: #4495d4;
}

:visited {
    color: #6d59a3;
}

.acp--highlight,
.acp--highlight strong {
    color: #505050;
}

.acp--bang:hover {
    background-color: #f2f2f2;
}

.acp--highlight {}

.ddgo-small-logo {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    position: relative;
    top: 3px;
}

.bang-search-box {
    font: 16px arial, sans-serif;
    line-height: 1.2em !important;
    height: 1.2em !important;
}

.invalid-bang-msg {
    text-align: center;
    padding: 10px;
    font-size: 1.2em;
}

.progress-bar {
    display: block;
    height: 2px;
    background-color: #4B8DF8;
    transition: width 0.5s ease;
    width: 0;
}
.loader{
  margin: 0 0 2em;
  height: 100px;
  width: 20%;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: inline-block;
  vertical-align: top;
    position: relative;
  right: 10px;
}
/*
  Set the color of the icon
*/
svg path,
svg rect{
  fill: #fff;
}